@model IEnumerable<StemProjectV3.Models.SchoolViewModels.GradDateGroup>

    @{ 
        ViewData["Title"] = "Student Body Statistics";
    }

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Grad Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GradDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>

    }
</table>