@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Stem Project</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to High School Stem Project</h2>
        <p>
            From the above selection, you can create/edit/view students, projects and mentors. 
        </p>
    </div>
</div>